:root{
    --blue: #3d82c2;
    --white: #fff;
    --tan: #fcc897;
}


body{
    font-family: monospace;
}

header.img{
    background-color: #3d82c2;
}

nav{
    height: 80px;
    width: 100%;
    background: var(--tan);
}

label.logo{
    font-size: 35px;
    font-weight: bold;
    color: var(--white);
    padding: 0 100px;
    line-height: 80px;
}

nav ul{
    float: right;
    margin-right: 40px;
}

nav li{
    display: inline-block;
    margin: 0 8px;
    line-height: 80px;
}

nav a{
    color:var(--white);
    font-size: 18px;
}

ul a:hover{
    border: 2px;
    border-style: dashed;
    border-color: var(--blue);
    cursor: pointer;
}

.aboutme{
    color: var(--blue);
}

.portfolio{
    color: var(--blue);
    margin: 50px;
    text-align: center;
}

.portfolio img:hover{
    width: 400px;
    height: 400px;
}


.contact{
    box-sizing:border-box;
    margin: auto;
    width: 50%;
    border: 5px dashed var(--white);
}

.contact h2{
    color: var(--blue);
    text-align: center;
}

.text-right{
    color: var(--blue);
    text-align: center;
}

.text-center{
    text-align: center;
}

.contact.img{
    margin: 100px;
}
  
button {
    height: 30px;
    width: 120px;
    background-color: var(--blue);
    color: var(--white);




@media screen and (max-width: 768px) {
    main,
    nav {
      flex-direction: column;
    }
  }
